<div class="container" style="padding-top: 120px;">
    <h2>Acerca de nosotros</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam nisi amet placeat expedita possimus autem mollitia enim, aliquam delectus exercitationem id veritatis quam sequi vero perspiciatis molestiae illum vel assumenda?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sed culpa, cum corporis quae at, magnam harum ducimus, quaerat excepturi eaque? Sequi odit optio dolorem, nisi voluptatum esse architecto debitis.
    </p>
</div>